<template name="contactEdit">
	<div>
		<a href="/" style="text-decoration:underline;"> &lt; Retour</a>
		<br>
		<br>
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">{{name}}
					<div style="float:right">
						<a id="submit_contact">
		  				<span class=" glyphicon glyphicon-ok">
		  				</span></a>
					</div>
				</div>			
			</div>
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon">Nom</span>
			  		<input type="text" class="form-control name" value={{name}} />
			  	</div>
			  	<br>
				<div class="input-group">
					<span class="input-group-addon">Tél</span>
					<input type="phone" class="form-control telephone" value={{telephone}} />
			  	</div>
			  	<br>
				<div class="input-group">
					<span class="input-group-addon">Email</span>
					<input type="email" class="form-control email" value={{email}} />
			  	</div>
			</div>
		</div>
	</div>
</template>